* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
#wrap {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
h2 {
  margin: 50px auto;
}

.star {
  margin: 20px 0px;
  color: yellow;
  display: flex;
}
h4 {
  margin-bottom: 1rem;
}
textarea {
  margin: 20px auto;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 130px;
  resize: vertical;
}
button {
  width: 100%;
  background-color: #4caf50;
  padding: 10px;
  border: 0;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}
#list li {
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#list li .time {
  text-align: right;
  font-size: 0.8rem;
}
#list li i {
  color: yellow;
}
